<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, ">
    <title>TASK-APP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">


</head>

<body>
    <div class="ui container">
        <br>
        <h1 class="ui center aligned icon header">
            <i class="circular red paperclip icon"></i>
            TASKER
        </h1>
        <form class="ui fluid form" action="/add" method="post">
            <label style="margin-bottom: 10px;" class=" huge ui teal tag label" for="title"> TASKS </label>


            <div class="ui  input focus right labeled left icon input">
                <i class="tags icon"></i>
                <input type="text" placeholder="Enter tasks">

                <button class="ui tag label primary button" type="submit">
                    <i class="plus icon"></i>Add</button>

            </div>
        </form>
        {% for task in task_list %}
        <div class="ui   blue   raised secondary segment">
            <p class="ui big header"> {{task.id}} | {{task.title}} </p>
            {% if task.complete == False%}

            <button class="ui compact  labeled icon button">
                <i class="large green thumbs up icon"></i>
                Task-Completed
            </button>
            {% else %}
            <button class="ui compact labeled icon button">
                <i class="large red thumbs down icon"></i>
                Task-Pending
            </button>
            {% endif %}

            <div class="ui  horizontal segments">
                <div class="ui secondary  green segment  center aligned">
                    <a href="/update/{{ task.id }}">Update Task Status <i class="large sync icon"></i></a>
                </div>

                <div class="ui  secondary  red  segment  center aligned">
                    <a href="/delete/{{ task.id }}">Delete Task <i class="large red minus circle icon"></i></a></div>
            </div>
        </div>

        {% endfor %}
    </div>
</body>
<script src=" https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"> </script>

</html>